/* body html ... */

body {
  font-family: "Source sans pro";
  background-image: url("../background-4664911_960_720.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  font-family: "Papyrus";
}
